<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.work.dao.OrdersMapper">
    <resultMap id="BaseResultMap" type="com.work.model.Orders">
        <id column="o_id" property="o_id" jdbcType="INTEGER"/>
        <result column="goods_id" property="goods_id" jdbcType="INTEGER"/>
        <result column="user_id" property="user_id" jdbcType="INTEGER"/>
        <result column="o_time" property="o_time" jdbcType="VARCHAR" />
        <result column="piece" property="piece" jdbcType="INTEGER" />
        <result column="o_sign" property="o_sign" jdbcType="INTEGER" />
        <result column="o_integrate" property="o_integrate" jdbcType="INTEGER" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
        <association property="goods" javaType="com.work.model.Goods">
            <id column="g_id" property="g_id" jdbcType="INTEGER"></id>
            <result column="introduction" property="introduction" jdbcType="VARCHAR"></result>
            <result column="name" property="name" jdbcType="VARCHAR"></result>
            <result column="date" property="date" jdbcType="VARCHAR"></result>
            <result column="picture" property="picture" jdbcType="VARCHAR"></result>
            <result column="money" property="money" jdbcType="INTEGER"></result>
            <result column="goods_type_id" property="goods_type_id" jdbcType="INTEGER"></result>
        </association>
        <association property="user" javaType="com.work.model.User">
            <id column="u_id" property="u_id" jdbcType="INTEGER"></id>
            <result column="username" property="username" jdbcType="VARCHAR"></result>
            <!--column 表示要被放进去的属性名, 查数据库的时候都得用column名-->
            <result column="u_name" property="name" jdbcType="VARCHAR"></result>
            <result column="password" property="password" jdbcType="VARCHAR"></result>
            <result column="sex" property="sex" jdbcType="VARCHAR"></result>
            <result column="phone" property="phone" jdbcType="VARCHAR"></result>
            <result column="email" property="email" jdbcType="VARCHAR"></result>
            <result column="date" property="date" jdbcType="VARCHAR"></result>
            <result column="introduction" property="introduction" jdbcType="VARCHAR"></result>
            <result column="address" property="address" jdbcType="VARCHAR"></result>
        </association>
    </resultMap>
    <parameterMap type="java.util.Map" id="getPageBean">
        <parameter property="pageOffset" mode="IN" jdbcType="INTEGER"/>
        <parameter property="size" mode="IN" jdbcType="INTEGER"/>
        <parameter property="searchText" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="sort" mode="IN" jdbcType="VARCHAR"/>
        <parameter property="order" mode="IN" jdbcType="VARCHAR"/>
    </parameterMap>
    <select id="selectOwnOrders" parameterMap="getPageBean" resultMap="BaseResultMap">
        SELECT  u.name u_name, u.address , u.phone,
        o.o_id, o.o_time, o.piece, o.o_sign, o.o_integrate
        FROM goods AS g , work_user AS u , orders AS o
        WHERE o.goods_id = g.g_id AND o.user_id = #{u_id} AND u.u_id = #{u_id} AND o.o_integrate > 0
        <if test="searchText !=null">
           AND o.o_integrate LIKE #{searchText}
        </if>
        <if test="sort != null">
            ORDER BY ${sort} ${order}
        </if>
        limit #{pageOffset},#{size}
    </select>
    <select id="countOwn" parameterMap="getPageBean" resultType="int">
        SELECT count(o.o_id)
        FROM goods AS g , work_user AS u , orders AS o
        WHERE o.goods_id = g.g_id AND o.user_id = #{u_id} AND u.u_id = #{u_id} AND o.o_integrate > 0
        <if test="searchText !=null">
            AND o.o_integrate LIKE #{searchText}
        </if>
        <if test="sort != null">
            ORDER BY #{sort} #{order}
        </if>
    </select>
    <select id="selectAllOrders" parameterMap="getPageBean" resultMap="BaseResultMap">
        SELECT  u.name u_name, u.address , u.phone,
                o.o_id, o.o_time, o.piece, o.o_sign, o.o_integrate
        FROM goods AS g , work_user AS u , orders AS o
        WHERE o.goods_id = g.g_id AND u.u_id = o.user_id AND o.o_integrate > 0
        <if test="searchText !=null">
            /*WHERE  name LIKE #{searchText}
            OR g.introduction LIKE #{searchText} *//*OR gt.gt_name LIKE #{searchText}*//*
            OR g.money LIKE #{searchText}*/
        </if>
        <if test="sort != null">
            ORDER BY ${sort} ${order}
        </if>
        limit #{pageOffset},#{size}
    </select>
    <select id="countAll" parameterMap="getPageBean" resultType="int">
        SELECT count(*)
        FROM goods AS g , work_user AS u , orders AS o
        WHERE o.goods_id = g.g_id AND u.u_id = o.user_id AND o.o_integrate > 0
        <if test="searchText !=null">
            /*WHERE  g.name LIKE #{searchText}
            OR g.introduction LIKE #{searchText} *//*OR gt.name LIKE #{searchText}*//*
            OR g.money LIKE #{searchText}*/
        </if>
        <if test="sort != null">
            ORDER BY #{sort} #{order}
        </if>
    </select>
    <update id="updateInfo" parameterType="com.work.model.Shoppingcart">
        UPDATE
        shoppingcart
        <set>
            <if test="goods_id != 0">
                goods_id = #{goods_id},
            </if>
            <if test="user_id != 0">
                user_id = #{user_id},
            </if>
            <if test="piece != 0">
                piece = #{piece},
            </if>
        </set>
        WHERE s_id = #{s_id};
    </update>
    <select id="selectBySign" parameterType="INTEGER" resultMap="BaseResultMap">
        SELECT  g.name, g.money ,
                u.name u_name, u.address, u.phone,    <!--这里的别名必须配合 BaseResultMap 才能取得正确的值-->
                o.o_id, o.o_time, o.piece, o.remark
        FROM goods AS g , work_user AS u , orders AS o
        WHERE o.goods_id = g.g_id AND o.user_id = u.u_id AND o.o_sign = #{o_sign}
    </select>
    <delete id="deleteBySign" parameterType="INTEGER">
        DELETE FROM orders
        WHERE o_sign = #{o_sign}
    </delete>
    <insert id="addOrders" parameterType="com.work.model.Orders">
        INSERT
        INTO orders (goods_id,user_id,o_time,piece,remark,o_sign,o_integrate)
        VALUES (#{goods_id},#{user_id},#{o_time},#{piece},#{remark},#{o_sign},#{o_integrate});
    </insert>
    <select id="findMaxSign" resultType="java.lang.String">
        SELECT MAX(o.o_sign)
        FROM Orders o
    </select>

</mapper>