.goods_details{
    width: 100%;
    height: 34px;
    position: absolute;
    text-align: center;
    bottom: 10px;
    left: 0px;
    z-index: 1;
}
.goods_details a{
    width: 163px;
    height: 34px;
    margin: 0 auto;
    display: block;
    background: url(../images/orderImg.gif) center center no-repeat;
}
.popbox_p .p_box {
    width: 700px;
    height: 264px;
    text-align: center;
    font-size: 18px;
    color: #4c4c4c;
    float: left;
    margin: 20px 0 0 30px;
}
.popbox_p .p_box .p_boximg_box {
    width: 300px;
    height: 190px;
    background-color: #fff;
    border: 2px #f3f3f3 solid;
    float: left;
    margin: 0 0 0 0;
    text-align: right;
    overflow: hidden;
    position: relative;
}
.popbox_p .p_box .p_box_con {
    width: 350px;
    height: 204px;
    float: left;
    margin: 0 0 0 10px;
}
.popbox_p .p_box .p_box_con h4 {
    width: 100%;
    line-height: 30px;
    float: left;
    font-size: 24px;
    color: #000;
    text-align: left;
}
.popbox_p .p_box .p_box_con .con {
    width: 100%;
    height: 80px;
    float: left;
    font-size: 14px;
    color: #7f7f7f;
    text-align: left;
    overflow-y: auto;
}
.popbox_p .p_box .p_box_con .p_num {
    text-align: left;
    font-size: 12px;
    color: #7f7f7f;
}
.popbox_p .p_box .p_box_con .p_num ul li .p_num_p02 {
    width: 120px;
    height: 22px;
    line-height: 22px;
    float: left;
    text-indent: 10px;
}
.popbox_p .p_box .p_box_con .p_num ul li .num_box {
    width: 95px;
    height: 22px;
    float: left;
    margin: 0 0 0 0;
}
.popbox_p .p_box .p_box_con .p_num ul li {
    width: 100%;
    height: 22px;
    line-height: 22px;
    float: left;
    margin: 0 0 10px 0;
    font-size: 12px;
    color: #7f7f7f;
    text-align: left;
}

.cursor {
    cursor: pointer;
}
.popbox_p {
    z-index: 999;
    width: 740px;
    height: 326px;
    background: url(../images/popbox_pbg.png) no-repeat;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -163px 0 0 -370px;
}
.popbox_p .close {
    width: 33px;
    height: 33px;
    position: absolute;
    top: -15px;
    right: -15px;
    background: url(../images/close.png) no-repeat;
    z-index: 2;
    cursor: pointer;
}
.popbox_p .bottom {
    width: 100%;
    height: 60px;
    float: left;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 999;
    text-align: center;
}
.popbox_p .bottom .p_order1 {
    width: 100%;
    height: 60px;
    float: left;
}
.popbox_p .bottom .p_order1_box a {
    width: 100%;
    height: 60px;
    float: left;
    background: url(../images/orderImg2.jpg) center center no-repeat;
    border-radius: 15px;

}
.font_weight {
    font-weight: bold;
}
.price_size {
    font-size: 30px;
    color: #e60013;
}
body, select, textarea, button {
    font: 12px "Microsoft YaHei", Arial, Helvetica, sans-serif;
    color: #333;
}
.cursor {
    cursor: pointer;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ol, ul {
    list-style: none;
}
